{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">
                    <i class="fas fa-envelope"></i> {% trans "Verification Email Sent" %}
                </h4>
                <hr>
                <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.{% endblocktrans %}</p>
                
                <hr>
                
                <p class="mb-0">{% blocktrans %}If you do not see the verification e-mail in your main inbox, check your spam folder. Please contact us if you do not receive the verification e-mail within a few minutes.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
